Repository Nikola-Mircic/efakturaplus, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Source, GUI, Models, Workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
- '*'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Source:
- any: ['src/**', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
GUI:
- any: ['src/efakturaplus/gui/**']

Models:
- any: ['src/efakturaplus/models/**']

Workflow:
- '.github'

Ignoring classes folder
  .gitignore
Labels: Repo

Zooming in and out and moving displayed PDF file
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/PDFDisplay.java
Labels: Source, GUI

Switching between pages
  src/efakturaplus/gui/PDFDisplay.java
Labels: Source, GUI

PDF rendering using Apache pdfbox lib
  efakturaplus.iml
  include/pdf-renderer-1.0.5.1.jar
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/PDFDisplay.java
  src/efakturaplus/gui/pdf/PDFDisplay.java
  src/efakturaplus/models/Invoice.java
Labels: Repo, Source, GUI, Models

Displaying invoices in InvoicePanel class
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/panels/InvoicePanel.java
  src/efakturaplus/gui/panels/MainPanel.java
Labels: Source, GUI

Displaying PDF pages verticaly
  src/efakturaplus/gui/pdf/PDFDisplay.java
Labels: Source, GUI

Mouse dragging
  src/efakturaplus/gui/pdf/PDFDisplay.java
Labels: Source, GUI

Utilizing full width of PDF window
  src/efakturaplus/gui/pdf/PDFDisplay.java
Labels: Source, GUI

PDFNavigator class
  src/efakturaplus/gui/panels/InvoicePanel.java
  src/efakturaplus/gui/pdf/PDFDisplay.java
  src/efakturaplus/gui/pdf/PDFNavigator.java
Labels: Source, GUI

InputListener class
  src/efakturaplus/gui/panels/InvoicePanel.java
  src/efakturaplus/gui/pdf/PDFDisplay.java
  src/efakturaplus/gui/pdf/PDFInputListener.java
  src/efakturaplus/gui/pdf/PDFNavigator.java
Labels: Source, GUI

Fixed issue with dates in NBS IPS QR code generation
  src/efakturaplus/models/Invoice.java
Labels: Source, Models

UI and commands for PDF navigation
  icons/zoom-in.png
  icons/zoom-out.png
  src/efakturaplus/gui/pdf/PDFDisplay.java
  src/efakturaplus/gui/pdf/PDFInputListener.java
  src/efakturaplus/gui/pdf/PDFNavigator.java
Labels: Source, GUI

Removed TO-DO list from README.md
  README.md
Labels: Repo

LICENSE update
  LICENSE
Labels: Repo

License update
  LICENSE
  LICENSE.txt
Labels: Repo

Error message window
  src/efakturaplus/util/QRUtil.java
Labels: Source

UI update
  .classpath
  src/efakturaplus/gui/panels/KeyPanel.java
  src/efakturaplus/util/QRUtil.java
Labels: Repo, Source, GUI

Hover effect on invoice list
  src/efakturaplus/gui/panels/InvoicePanel.java
Labels: Source, GUI

Hover effect for option buttons
  src/efakturaplus/gui/panels/InvoicePanel.java
Labels: Source, GUI

Improved invoice loading
  src/efakturaplus/gui/panels/MainPanel.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Displaying diferent party depending on invoice type
  src/efakturaplus/gui/panels/InvoicePanel.java
Labels: Source, GUI

Payment ID correction
  src/efakturaplus/util/QRUtil.java
Labels: Source

Fixed paymentID
  src/efakturaplus/util/QRUtil.java
Labels: Source

using hypens in payment id
  src/efakturaplus/util/QRUtil.java
Labels: Source

Printing a attachment
  icons/printer.png
  src/efakturaplus/App.java
  src/efakturaplus/gui/pdf/PDFDisplay.java
  src/efakturaplus/gui/pdf/PDFNavigator.java
  src/efakturaplus/util/PrinterUtil.java
  src/efakturaplus/util/QRUtil.java
Labels: Source, GUI
