Repository Nikola-Mircic/efakturaplus, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Source, GUI, Models, Workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
- '*'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Source:
- any: ['src/**', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
GUI:
- any: ['src/efakturaplus/gui/**']

Models:
- any: ['src/efakturaplus/models/**']

Workflow:
- '.github'

Rename label.yml to labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

PDF Renderer jar file
  .classpath
  include/pdf-renderer-1.0.5.1.jar
  src/efakturaplus/App.java
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/models/InvoiceStatus.java
  src/efakturaplus/models/Party.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Repo, Source, GUI, Models

Load PDF
  .classpath
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/PDFDisplay.java
  src/efakturaplus/models/Invoice.java
Labels: Repo, Source, GUI, Models

Display invoices in chronological order
  src/efakturaplus/gui/MainPanel.java
Labels: Source, GUI

Fixed display of different statuses
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/models/Invoice.java
Labels: Source, GUI, Models

Using CardLayout to switch between panels
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
Labels: Source, GUI

Loading invoices for the last month
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source

InvoiceList UI
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
Labels: Source, GUI

Display only invoices from last month
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source

Item selection in InvoiceList
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

Fixed invoice date parsing
  src/efakturaplus/models/Invoice.java
Labels: Source, Models

Renamed Color.java to PrintColor.java
  src/efakturaplus/util/PrintColor.java
Labels: Source

Fetching both sales and purchase invoices
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/models/InvoiceStatus.java
  src/efakturaplus/models/InvoiceType.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Removed unnecunnecessary code
  src/efakturaplus/App.java
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Initial navigator
  icons/invoice-purchase.png
  icons/invoice-sales.png
  icons/stats.png
  icons/user.png
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/StretchIcon.java
Labels: Source, GUI

Logout button
  icons/logout.png
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
Labels: Source, GUI

Options layout
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
Labels: Source, GUI

Generating QR code
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/models/Party.java
  src/efakturaplus/util/QRUtil.java
Labels: Source, GUI, Models

Fixed issue with item borders
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

QR code fix
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/util/EFakturaUtil.java
  src/efakturaplus/util/QRUtil.java
Labels: Source, GUI, Models

Approving an invoice
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Canceling a payment
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/InvoicePanel.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/util/QRUtil.java
Labels: Source, GUI

Create LICENSE.txt
  LICENSE.txt
Labels: Repo

Fixed bugs in InvoiceList
  .gitignore
  src/efakturaplus/gui/InvoiceList.java
Labels: Repo, Source, GUI

Code cleanup
  src/efakturaplus/App.java
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/InvoicePanel.java
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/util/QRUtil.java
Labels: Source, GUI

Encrypting and decrypting user's API key
  .gitignore
  src/efakturaplus/App.java
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/Window.java
Labels: Repo, Source, GUI

Logging in after encryption/decryption
  src/efakturaplus/gui/KeyPanel.java
Labels: Source, GUI

Fix: Approve button
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI

Fixed issues with '-' in RO tag
  src/efakturaplus/util/QRUtil.java
Labels: Source

Disposing QR code frame after payment
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

Fixed issue with unspecified payment mod
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/models/Party.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, Models

Stats button
  src/efakturaplus/gui/MainPanel.java
Labels: Source, GUI

Moved API key reading to KeyPanel class
  src/efakturaplus/App.java
  src/efakturaplus/gui/KeyPanel.java
Labels: Source, GUI

Plot
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Scalin plot data
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/StatisticsPanel.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI

Ploting invoice data
  src/efakturaplus/gui/StatisticsPanel.java
  src/efakturaplus/models/Invoice.java
  src/efakturaplus/util/Pair.java
Labels: Source, GUI, Models

Total amount spent on purchases
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Fixed plotting error
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Fixed error with payee financial account
  src/efakturaplus/util/QRUtil.java
Labels: Source
