Repository Nikola-Mircic/efakturaplus, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Source, GUI, Models, Workflow

Imporved invoices display
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/StatisticsPanel.java
  src/efakturaplus/models/Invoice.java
Labels: Source, GUI, Models

Folders with invoice samples added to gitignore
  .gitignore
  src/efakturaplus/models/Invoice.java
Labels: Repo, Source, Models

Fixed issue with payee financial acc
  src/efakturaplus/util/QRUtil.java
Labels: Source

Resizable KeyPanel
  src/efakturaplus/gui/KeyPanel.java
Labels: Source, GUI

Resizable KeyPanel - update
  src/efakturaplus/gui/KeyPanel.java
Labels: Source, GUI

Fixed invoice status color error
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/models/InvoiceStatus.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Formating amount
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

Fixed error with selecting invoice in the list
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

Imporoved invoice loading speed and time period
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI

Ploting data from 3 months ago
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Update README.md
  README.md
Labels: Repo

Fixed time scale on plot
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Ploting transactions as column chart
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Fetching invoices in a background thread
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/StatisticsPanel.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI

Loading animation
  icons/loading.gif
  src/efakturaplus/gui/InvoiceList.java
Labels: Source, GUI

Limited request frequency
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI

Plotting both sales and purchases
  src/efakturaplus/gui/MainPanel.java
  src/efakturaplus/gui/StatisticsPanel.java
Labels: Source, GUI

Update README.md
  README.md
Labels: Repo

Default payment description
  src/efakturaplus/util/QRUtil.java
Labels: Source

Update README.md
  README.md
Labels: Repo

Increased period between requests
  include/pdf-renderer-1.0.5.1.jar
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source

Idea setup
  .idea/.gitignore
  .idea/.name
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  efakturaplus.iml
Labels: Repo

Added efakturaplus.iml to .gitignore
  .gitignore
  efakturaplus.iml
Labels: Repo

Submit form button
  src/efakturaplus/gui/KeyPanel.java
  src/efakturaplus/gui/MainPanel.java
Labels: Source, GUI

Password verification
  .gitignore
  src/efakturaplus/gui/KeyPanel.java
Labels: Repo, Source, GUI

checking if passwords match on registration
  src/efakturaplus/gui/KeyPanel.java
Labels: Source, GUI

READEME.md update
  README.md
Labels: Repo

.gitignore update
  .gitignore
  efakturaplus.iml
  src/META-INF/MANIFEST.MF
Labels: Repo, Source

Reorganized gui folder
  .idea/uiDesigner.xml
  src/efakturaplus/gui/Window.java
  src/efakturaplus/gui/panels/InvoicePanel.java
  src/efakturaplus/gui/panels/KeyPanel.java
  src/efakturaplus/gui/panels/MainPanel.java
  src/efakturaplus/gui/panels/StatisticsPanel.java
  src/efakturaplus/gui/plots/Plot.java
  src/efakturaplus/gui/plots/PlotItem.java
Labels: Source, GUI

Saving invoices in User singleton
  src/efakturaplus/gui/InvoiceList.java
  src/efakturaplus/gui/Window.java
  src/efakturaplus/gui/panels/KeyPanel.java
  src/efakturaplus/gui/panels/MainPanel.java
  src/efakturaplus/gui/panels/StatisticsPanel.java
  src/efakturaplus/models/User.java
  src/efakturaplus/util/EFakturaUtil.java
Labels: Source, GUI, Models

Update README.md
  README.md
Labels: Repo

Update README.md
  README.md
Labels: Repo

Bar chart
  .gitignore
  src/efakturaplus/gui/panels/StatisticsPanel.java
  src/efakturaplus/gui/plots/BarPlot.java
  src/efakturaplus/gui/plots/Plot.java
  src/efakturaplus/gui/plots/PlotItem.java
  src/efakturaplus/models/Invoice.java
Labels: Repo, Source, GUI, Models

Focusing single item on the plot
  src/efakturaplus/gui/plots/BarPlot.java
  src/efakturaplus/gui/plots/Plot.java
  src/efakturaplus/gui/plots/PlotItem.java
Labels: Source, GUI

Waterfall chart
  src/efakturaplus/gui/plots/WaterfallChart.java
Labels: Source, GUI

Displaying multiple plots on the stats panel
  src/efakturaplus/gui/panels/StatisticsPanel.java
  src/efakturaplus/gui/plots/BarPlot.java
  src/efakturaplus/gui/plots/MultiPlotPanel.java
  src/efakturaplus/gui/plots/Plot.java
Labels: Source, GUI

Checked TO-DO item
  README.md
Labels: Repo

Income, outcome and tax calculation
  src/efakturaplus/gui/panels/MainPanel.java
  src/efakturaplus/gui/panels/StatisticsPanel.java
  src/efakturaplus/models/User.java
Labels: Source, GUI, Models

Relative size of PlotItems
  .idea/misc.xml
  src/efakturaplus/gui/plots/BarPlot.java
  src/efakturaplus/gui/plots/PlotItem.java
  src/efakturaplus/gui/plots/WaterfallChart.java
Labels: Source, GUI

Relative size of PlotItems
  .idea/misc.xml
  README.md
  src/efakturaplus/gui/plots/BarPlot.java
  src/efakturaplus/gui/plots/PlotItem.java
  src/efakturaplus/gui/plots/WaterfallChart.java
Labels: Repo, Source, GUI

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
- '*'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Source:
- any: ['src/**', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
GUI:
- any: ['src/efakturaplus/gui/**']

Models:
- any: ['src/efakturaplus/models/**']

Workflow:
- '.github'
